<%- include('./../_partials/header') %>

<div class="container">
<a href="students/new" class="btn-floating btn-small waves-effect waves-light red addbut"><i class="material-icons">add</i></a>
</div>


  <div class="container fullcards">
    <% user.students.forEach(function(m) { %>
        <div class="row cardss col s3">
            <div class="col  cards">
            <div class="card">
                <div class="card-content">
                <p><div class="titles">Student Name:</div><%= m.name %></p>
                <p><div class="titles">Parent Name:</div><%= m.parent %></p>
                <p><div class="titles"> Grade:</div> <%= m.grade %></p>
                <p><div class="titles">Contact:</div> <%= m.contact %></p>
                </div>
            </div>
            </div>
        </div>
    <% }); %>
  </div>    
  </body>
</html>