<%- include('./../_partials/header') %>

<div class="container">
<a href="students/new">Add a Student</a>
</div>

  <div class="container fullcards">
    <% user.students.forEach(function(m) { %>
        <div class="row cardss">
            <div class="col m4 cards">
            <div class="card">
                <div class="card-content">
                <p>Student Name: <%= m.name %></p>
                <p>Parent Name: <%= m.parent %></p>
                <p>Grade: <%= m.grade %></p>
                <p>Contact Number: <%= m.contact %></p>
                </div>
            </div>
            </div>
        </div>
    <% }); %>
  </div>    
  </body>
</html>